.Rproj.user
.Rhistory
.RData
responseToReviewers/mysisReviewerResponse_cache/
_drafts/mysisAnalysis_cache/
.gitignore~
_drafts/mysisAnalysis.docx
_drafts/mysisAnalysis_files/
_site/lengthModel/lengthModelT_cache/
_site/lengthModel/lengthModelT_files/
_site/results/mysisResults_cache/
_site/results/mysisResults_files/
_site/responseToReviewers/mysisReviewerResponse_cache/
_site/responseToReviewers/mysisReviewerResponse_files/
responseToReviewers/mysisReviewerResponse_files/
lengthModel/lengthModelT_cache/
lengthModel/lengthModelT_files/
lengthModel/lengthModel_cache/
lengthModel/lengthModel_files/
results/mysisResults_cache/
results/mysisResults_files/